<!-- <!DOCTYPE html>
<html lang="en">
 -->
  <meta charset="UTF-8">
  <link type="image/png" href="../public/favicon.png" rel="icon">
  <title>Lock in low electricity rates with Sungevity</title>
  <link rel="stylesheet" href="../public/css/sun-main.css" />
  <!-- Add jQuery library -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>


</head>
<!--<style>
body 
{
    height: 444px;
    background-image: url('public/home_bg_ggb_orangeoverlay.jpg');
    background-size: cover;
    background-repeat: no-repeat
}


.main section > div {
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  padding: 2.875em 1.875em 1.875em;
}

div p:hover {
    background-color:blue;
    
}
</style>
--> 
<body>


<div id="wrapper"> 
  <!--START HEADER SECTION-->
  <div id="header">
    <div id="logo"><img src="/public/logo.gif" alt="SUNGEVITY(R) GENERATE POSITIVE(TM)" width="235" height="56" /></div>
          <div id="Login_Container">
          <ul>
            <li><a>866.SUN.4ALL</a> <span class="orange">|</span></li>
            <li><a href="http://blog.sungevity.com/" target="_blank" data-event-category="Header" data-event-action="Click" data-event-label="Our-Blog">Our Blog</a></li>
            <li><a href="https://oursungevity.com/users/login" class="Login" data-event-category="Header" data-event-action="Click" data-event-label="Log-In">LOG IN</a></li>
           <!-- Chat Disabled 8/15/2013 <li id="Chat-bar"><a class="Chat">Chat With Us</a><img class="Chat-icon" src="/images/gray_chat.gif" alt="" width="23" height="27" /></li> -->
          </ul>
        </div>
        
        <div id="Main_Nav">
          <ul>
            <li class="leftmost"><a href="/sungevity-experience" data-event-category="Navigation-Main" data-event-label="Sungevity-Experience" data-event-action="Click">Sungevity experience</a></li>
            <li><a href="/go-solar" data-event-category="Navigation-Main" data-event-label="Why-Go-Solar" data-event-action="Click">Why go solar</a></li>
            <li><a href="/sungevity-solar-systems" data-event-category="Navigation-Main" data-event-label="Why-Sungevity" data-event-action="Click">Why Sungevity?</a></li>
            <li><a href="/solar-panel-resources" data-event-category="Navigation-Main" data-event-label="Solar-Resources" data-event-action="Click">Solar resources</a></li>
            <li><a href="/solar-iquote" data-event-category="Navigation-Main" data-event-label="Sunshine-Online" data-event-action="Click">Sunshine online</a></li>
          </ul>
        </div>
</body>
<!-- </html> -->